.menu-top {
    height: 50px;
    background-color: #d6ecff;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    background-color: #d6ecff;
    height: calc(100vh - 50px);
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding: 20px 0px;
    transform: translateX(-230px);
    transition: all 0.7s ease;
}

.menu.open {
    transform: translateX(0);
}

.child {
    margin-left: 20px;
    transition: all 0.7s ease;
}

.child.open {
    margin-left: 250px;
}

.menu .accordion-flush>.accordion-item>.accordion-header .accordion-button{
    background-color: #d6ecff;
    color: #000;
    box-shadow: none;
    border-bottom: 1px solid #eee;
}

.menu .accordion-body{
    padding: 0px 20px;
    background-color: #d6ecff;
    border-bottom: 1px solid #eee;
}

.menu .accordion-body>ul{
    list-style: none;
    padding-left: 20px;
    background-color: #d6ecff;
    margin-bottom: 0px;
}

.menu .accordion-body>ul>li{
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #d6ecff;
}

.menu .accordion-body>ul>li.active{
    color: blue;
    background-color: #d6ecff;
}